.login-wrapper {
    background-color: #fff;
    height: 50%;
    border-radius: 20px;
    text-align: center;
    padding: 40px;
}
.login-inner {
    display: grid;
    gap: 20px;
    justify-content: center;
}
.login-btn {
    display: flex;
    justify-content: end;
    padding-top: 20px;
}
.todo-wrapper {
    background-color: #fff;
}